* {
    /* Свойства для сброса начальных стилей элементов */
    
        padding: 0px;
        margin: 0px;
        box-sizing: border-box;
    
}

body {
    font-family: "Inter", sans-serif;
    color: #303030;
}

header {
    /* Стили для хедера */
    background-color: #2965F1;
}

header span {
    /* Стили для текста в хедере IT-INCUBATOR */
    font-size: 20px;
    font-weight:  700;
    color: #fff;
}

.main-section {
    /* Стили для первой секции */
    background-color: rgb(0,0,0);
    padding: 60px 0px;
    min-height: 300px;
} 

.main-title {
    /* Стили для заголовка в первой секции */
    font-size: 36px;
    margin-bottom: 20px ;
    font-weight: bold ;
}

.main-text {
    /* Стили для текста в первой секции */
    font-weight: normal;
    font-size: 18px;
}

.main-image {
    /* Стили для изображения в первой секции */
    max-width: 715px;
}


.about-section {
    /* Стили для второй секции */
    background-color: #000;
    padding: 100px 0px;
}

select {
    /* Стили для выпадающего списка */
    border: 1px solid #000;
    border-radius: 5px;
    width: 200px;
    padding: 10px;
    font-weight: bold;
    font-size: 16px;
    background-repeat: no-repeat;
}

.section-title {
    /* Стили для заголовков во второй секции */
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 25px;
}

.frameworks-list {
    /* Стили для маркированного списка во второй секции */
    font-weight: 400;
    font-size: 16px;
    padding: 0px 20px;
}

.books-list {
    /* Стили для нумерованного списка во второй секции */
    font-weight: 400;
    font-size: 16px;
    padding: 0px 20px;

}

.label {
    /* Стили для подписей чекбоксов */
}

.text-field {
    /* Стили для односточного поля ввода текста */
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 300px;
    height: 40px;
    background-color: #fff;
    padding: 10px;
    font-weight: 400;
    font-size: 16px;
}

.btn {
    /* Стили для кнопки */
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100px;
    height: 40px;
    background-color: #fff;
    font-weight: 400;
    font-size: 16px;
    color: rgb(255, 255, 255);
}

.line {
    /* Стили для линии */
    margin: 60px 0px;
}

table {
    /* Стили для таблицы */
    border: 1px solid #ccc;
    border-collapse: collapse;
    font-weight: 400;
    font-size: 14px;
}

th, td {
    /* Стили для ячеек таблицы */
    padding: 12px 15px;
}

footer {
    /* Стили для футера */
}

.footer-link {
    /* Стили для футера */
    font-weight: 400;
    font-size: 14px;
    color: #333;
    text-decoration: none;
}